/*--------------------  Declares and Defines Custom CSS Variables  --------------------*/
:root {
  --primaryColour: white;
  --secondayColour: Black;
  --errorColour: red;
  --acceptColour: #2f55a4;
}

/*--------------------  Main Body CSS  --------------------*/
body {
  background-image: url('../images/gym2.jpg');
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

/*--------------------  Header CSS  --------------------*/
header {
  background: black;
}

header .container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 12px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--primaryColour);
  text-decoration: none;
}

/*--------------------  Class Specific CSS  --------------------*/
.sitePages {
  max-width: 1450px;
  padding:22px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.exercise_info {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0,.5)
}

.exercise_info h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--secondayColour)
}

.exercise_info p {
  margin: 0;
  font-size: 0.9em;
  color: var(--secondayColour);
}

.exercise_info span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #d1d1d1;
  padding: 6px;
  border-radius: 50%;
  display: inline-block;
  color: var(--secondayColour);
}

/*--------------------  Exercise Entry Form CSS  --------------------*/
label, input {
  display: block;
  color: var(--secondayColour);
}

.newEntry {
  color: var(--secondayColour);
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0,.5)
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--secondayColour);
}

form button {
  background: var(--acceptColour);
  border: 0;
  color: var(--primaryColour);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

/*--------------------  Error Response CSS  --------------------*/
div.errorMessage {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--errorColour);
  color: var(--errorColour);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--errorColour);
}

/*--------------------  Edit/Delete Button CSS  --------------------*/
.exercise_info .editButton {
  display: inline-block;
  margin-right: 80px; 
  background-color: var(--acceptColour);
  color: var(--primaryColour);
}

.exercise_info .deleteButton {
  display: inline-block;
  margin-right: 10px; 
  background-color: var(--errorColour);
  color: var(--primaryColour);
}

/*--------------------  Modal Cancel/Save Button CSS  --------------------*/
.modalCancelButton {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: var(--errorColour);
}

.modalSaveButton {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: var(--acceptColour);
}